*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
   /* font-size:10px; Unidad en rem*/
   width: 23.438em;
    height: auto;
    padding: 2.188em;
    
    display: flex;
    flex-direction: column;
}
.cuadro1{
   background-color: coral;
    width: 11.25em;
    height: 14.375em;
    border-radius: 0.625em;
}
.cuadro2{
    background-color: coral;
    width: 11.25em;
    height: 6.25em;
    border-radius: 0.625em;
    
    margin-top: 2.375em;
    align-self: flex-end;
}
.cuadro3{
    background-color: coral;
    width: 10.625em;
    height: 11.25em;
    border-radius: 0.625em;
    
    margin-top: 38px;
    align-self: center;
}
.cuadro4{
    background-color: coral;
    width: 180px;
    height: 43px;
    border-radius: 0.625rem;
    
    margin-top: 38px;
    align-self: flex-end;
}
